@charset "UTF-8";

.s-contacts {
  padding: 3rem 0 5.125rem;
  background-image: url(/img/back/contacts.png);
  background-repeat: no-repeat;
  background-position: 0 -6.25rem;
  background-size: cover;
}

.s-contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.3125rem;
}

.s-contacts__wrapper::after {
  content: '* Въезд на территорию складского комплекса «Холмогоры» осуществляется по предварительному заказу пропуска через курирующего менеджера или через наш отдел по работе с клиентами и документами. В обоих случаях для  заказа пропуска необходимо иметь документы, подтверждающие цель приезда. ';
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 0.5625rem;
  line-height: 1.1;
  display: flex;
  align-items: center;
  color: #4e5056;
}

.s-contacts__item {
  width: 48%;
}

.s-contacts__item-title {
  position: relative;
  width: 100%;
  font-weight: 300;
  font-size: 1.3125rem;
  line-height: 1.2;
  color: #ceced0;
  border-bottom: 0.125rem solid #d91745;
  margin-bottom: 1.25rem;
  padding-bottom: 0.3125rem;
}

.s-contacts__item::after {
  content: '';
  display: block;
  width: 0.125rem;
  height: 1.25rem;
  background: #d91745;
  margin-bottom: 0.125rem;
}

.s-contacts__item-prefix {
  position: relative;
  display: none;
  min-height: 3.75rem;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 120%;
  color: #4e5056;
  padding-left: 0.625rem;
}

.s-contacts__item-prefix::before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  width: 0.125rem;
  height: 1.25rem;
  transform: translateY(-50%);
  background: #d91745;
}

.s-contacts__box {
  position: relative;
  border: 1px solid #ffffff;
  padding: 1.5625rem 1.375rem;
  margin-bottom: 0.625rem;
}

.s-contacts__box-container {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  margin-bottom: 0.625rem;
}

.s-contacts__box-container:last-child {
  margin: 0;
}

.s-contacts__box-container:hover .s-contacts__box-text {
  color: #ceced0;
}

.s-contacts__box-subtitle {
  min-width: 4rem;
  text-align: right;
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1.4;
  color: #656669;
}

.s-contacts__box-text {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #9A9EA9;
  margin-left: 1.125rem;
}

.s-contacts__box-popup {
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  font-weight: 400;
  font-size: 0.5rem;
  line-height: 170%;
  color: #ceced0;
}

.s-contacts__information {
  margin-bottom: 3.5rem;
  display: block;
  gap: 1.0625rem;
}

.s-contacts__information-item {
  display: inline-flex;
  font-weight: 300;
  font-size: 0.625rem;
  line-height: 1.2;
  color: #6B7081;
  margin-right: 1.0625rem;
}

.s-contacts__information-item span {
  font-weight: 400;
}

.s-contacts__information-item:last-child {
  margin-right: 0;
}

.s-contacts__driving-title {
  display: inline-block;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  color: #ceced0;
  border-bottom: 2px solid #d91745;
  padding-bottom: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.s-contacts__driving-prefix {
  font-weight: 400;
  font-size: 0.5625rem;
  line-height: 0.6875rem;
  color: #ceced0;
  margin-bottom: 1.25rem;
}

.s-contacts__driving-location {
  width: 100%;
}

.s-contacts__location-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4375rem;
}

.s-contacts__location-title {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  color: #9A9EA9;
}

.s-contacts__location-btn {
  display: flex;
  align-items: center;
}

.s-contacts__location-btn svg {
  font-size: 1.5625rem;
}

.s-contacts__location-size {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  color: #656669;
  margin: 0 0.9375rem 0 1.875rem;
}

.s-social__phone {
  display: flex;
  padding-bottom: 2.3125rem;
  border-bottom: 1px solid #bdbec599;
}

.s-social__phone-tel {
  font-weight: 600;
  font-size: 1.1875rem;
  line-height: 1.375rem;
  display: flex;
  align-items: center;
  color: #c6c7d0;
  margin-right: 2.3125rem;
}

.s-social__phone-btn {
  background: #424346;
  border-radius: 5px;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #ceced0;
  padding: 0.5rem 0.875rem;
}

.s-social__send {
  display: flex;
  margin-top: 1.25rem;
  border-bottom: 1px solid #bdbec599;
  margin-bottom: 3.4375rem;
  padding-bottom: 3.125rem;
}

.s-social__send .phone {
  display: none;
  box-sizing: content-box;
}

.s-social__item-text {
  display: block;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 0.9375rem;
  color: #ceced0;
  margin-bottom: 0.875rem;
}

.s-social__link {
  display: flex;
  justify-content: center;
  gap: 1.3125rem;
  font-size: 1.875rem;
}

.s-social .btn-social {
  display: inline-block;
  background: #424346;
  border-radius: 5px;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #ceced0;
  padding: 0.5rem 0.875rem;
}

@media (min-width: 768px) {
  .s-contacts {
    padding: 2.5rem 0 5.3125rem;
  }

  .s-contacts__wrapper {
    margin-bottom: 0.75rem;
  }

  .s-contacts__wrapper::after {
    display: none;
  }

  .s-contacts__item {
    width: 50%;
  }

  .s-contacts__item-title {
    max-width: 15.4375rem;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.1875rem;
    padding-bottom: 0.625rem;
  }

  .s-contacts__item::after {
    display: none;
  }

  .s-contacts__item-prefix {
    display: block;
  }

  .s-contacts__box {
    padding: 2.5rem 3.9375rem 2.1875rem 4.5625rem;
  }

  .s-contacts__box-subtitle {
    min-width: 5.625rem;
    font-weight: 300;
    font-size: 1.3125rem;
  }

  .s-contacts__box-text {
    font-size: 1.3125rem;
    margin-left: 1.875rem;
  }

  .s-contacts__box-popup {
    bottom: 2.5rem;
    right: 1.5625rem;
  }

  .s-contacts__information {
    display: flex;
    align-items: center;
    gap: 1.875rem;
  }

  .s-contacts__driving {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .s-contacts__driving-title {
    max-width: 17.9375rem;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.1875rem;
    padding-bottom: 0.625rem;
  }

  .s-contacts__driving-prefix {
    max-width: 21.25rem;
    margin-bottom: 0rem;
  }

  .s-contacts__driving-location {
    margin-top: 6.375rem;
  }

  .s-contacts__location-item {
    justify-content: left;
    margin-bottom: 1.25rem;
  }

  .s-contacts__location-title {
    min-width: 17.0625rem;
    font-size: 1.0625rem;
    line-height: 1.25rem;
  }

  .s-contacts__location-btn {
    margin-left: 6.0625rem;
  }

  .s-contacts__location-btn svg {
    font-size: 1.875rem;
  }

  .s-contacts__location-size {
    font-size: 1.0625rem;
    line-height: 1.25rem;
    margin: 0;
    margin-left: 1.5625rem;
  }

  .s-social {
    padding-bottom: 3.75rem;
  }

  .s-social__phone {
    display: none;
  }

  .s-social__send {
    margin-bottom: 5rem;
    padding-bottom: 0;
    border-bottom: none;
  }

  .s-social__send-item {
    margin: 0 0 0 3.8125rem;
  }

  .s-social__send .phone {
    min-width: 8.25rem;
    display: block;
    order: 0;
    border-right: 1px solid #bdbec599;
    padding-right: 3.3125rem;
    margin: 0;
  }

  .s-social__send .support {
    min-width: 12.1875rem;
    order: 3;
    border-left: 1px solid #bdbec599;
    padding-left: 3.3125rem;
    margin: 0;
  }

  .s-social__send .mail {
    min-width: 10.75rem;
    order: 2;
  }

  .s-social__item-text {
    min-height: 3rem;
    font-size: 1.0625rem;
    line-height: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .s-social__link {
    font-size: 2.8125rem;
    gap: 2rem;
  }

  .s-social .btn-social {
    padding: 0.375rem 1.125rem;
  }
}

@media (min-width: 1024px) {
  .s-contacts {
    padding: 5.8125rem 0 6.0625rem;
  }

  .s-contacts__wrapper {
    margin-bottom: 0.5rem;
  }

  .s-contacts__item-title {
    max-width: 18.75rem;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 2.9375rem;
  }

  .s-contacts__item-prefix {
    font-size: 0.6875rem;
    padding-left: 0.8125rem;
  }

  .s-contacts__box {
    padding: 3.125rem 4.8125rem 3.1875rem 2.8125rem;
  }

  .s-contacts__box-subtitle {
    min-width: 7.5rem;
    font-size: 1.75rem;
  }

  .s-contacts__box-text {
    font-size: 1.75rem;
    margin-left: 1.875rem;
  }

  .s-contacts__box-popup {
    font-size: 0.8125rem;
  }

  .s-contacts__information {
    gap: 3rem;
    margin-bottom: 5.8125rem;
  }

  .s-contacts__information-item {
    font-size: 0.75rem;
  }

  .s-contacts__driving-title {
    font-size: 1.875rem;
    padding-bottom: 1.3125rem;
  }

  .s-contacts__driving-prefix {
    font-size: 0.8125rem;
    line-height: 0.9375rem;
  }

  .s-contacts__driving-location {
    margin-top: 3.3125rem;
  }

  .s-contacts__location-item {
    justify-content: space-between;
    margin-bottom: 2.0625rem;
  }

  .s-contacts__location-item {
    margin-bottom: 2.5rem;
  }

  .s-contacts__location-btn {
    margin-left: 0rem;
    margin-right: 6.875rem;
  }

  .s-social__send {
    margin-bottom: 8.4375rem;
  }

  .s-social__send-item {
    margin: 0 0 0 5rem;
  }

  .s-social__send .phone {
    padding-right: 5rem;
  }

  .s-social__send .support {
    padding-left: 4.5625rem;
  }

  .s-social__item-text {
    min-height: 2.75rem;
    font-size: 1.1875rem;
    line-height: 1.375rem;
    margin-bottom: 1.5625rem;
  }

  .s-social__link {
    font-size: 3.4375rem;
    gap: 2.4375rem;
  }
}

@media (min-width: 1600px) {
  .s-contacts {
    background-position: center;
    background-size: cover;
    padding: 9.125rem 0 9.5rem;
  }

  .s-contacts__wrapper {
    margin-bottom: 0.4375rem;
  }

  .s-contacts__item-title {
    font-size: 3.125rem;
    line-height: 3.6875rem;
  }

  .s-contacts__item-prefix {
    font-size: 0.75rem;
    padding-left: 0.9375rem;
  }

  .s-contacts__item-prefix::before {
    top: 45%;
  }

  .s-contacts__box {
    padding: 3.125rem 6.375rem 3.0625rem 2.8125rem;
    margin-bottom: 1.25rem;
  }

  .s-contacts__box-subtitle {
    min-width: 8.4375rem;
    font-size: 2rem;
  }

  .s-contacts__box-text {
    font-size: 2rem;
    margin-left: 1.375rem;
  }

  .s-contacts__information {
    gap: 2.8125rem;
    margin-bottom: 7.375rem;
  }

  .s-contacts__information-item {
    font-size: 0.8125rem;
  }

  .s-contacts__driving-title {
    font-size: 2.5rem;
    line-height: 2.9375rem;
    padding-bottom: 1.25rem;
  }

  .s-contacts__driving-prefix {
    max-width: 28.75rem;
    margin-right: auto;
    margin-left: 5.4375rem;
  }

  .s-contacts__location-title {
    font-size: 1.1875rem;
    line-height: 1.375rem;
  }

  .s-contacts__location-btn svg {
    font-size: 2.5rem;
  }

  .s-contacts__location-size {
    font-size: 1.3125rem;
    line-height: 1.5625rem;
  }

  .s-social {
    padding-bottom: 6.0625rem;
  }

  .s-social__send {
    justify-content: space-between;
    margin-bottom: 9.6875rem;
  }

  .s-social__send-item {
    margin: 0 0 0 3.25rem;
  }

  .s-social__send .phone {
    padding-right: 3.1875rem;
  }

  .s-social__send .support {
    padding-left: 3.25rem;
  }

  .s-social__item-text {
    font-size: 1.5625rem;
    line-height: 1.8125rem;
    margin-bottom: 1.125rem;
  }

  .s-social__link {
    font-size: 3.6875rem;
    gap: 2.625rem;
  }
}

@media (min-width: 1920px) {
  .s-contacts {
    padding: 9.375rem 0 9.8125rem;
  }

  .s-contacts__wrapper {
    margin-bottom: 1.8125rem;
  }

  .s-contacts__item-title {
    max-width: 21.875rem;
    font-size: 3.75rem;
    line-height: 4.375rem;
    padding-bottom: 1.125rem;
    margin-bottom: 0.75rem;
  }

  .s-contacts__item-prefix {
    font-size: 0.9375rem;
    padding-left: 2.1875rem;
  }

  .s-contacts__item-prefix::before {
    top: 50%;
    height: 1.5625rem;
  }

  .s-contacts__box {
    margin-bottom: 1.875rem;
    padding: 5.6875rem 3.3125rem;
  }

  .s-contacts__box-subtitle {
    min-width: 10.625rem;
    font-size: 2.5rem;
  }

  .s-contacts__box-text {
    font-size: 2.5rem;
    margin-left: 2.5rem;
  }

  .s-contacts__box-popup {
    font-size: 0.9375rem;
    bottom: 2.5rem;
    right: 3.125rem;
  }

  .s-contacts__information {
    justify-content: space-between;
  }

  .s-contacts__driving {
    max-width: 62.1875rem;
  }

  .s-contacts__driving-prefix {
    font-size: 0.9375rem;
    max-width: 35rem;
    margin-right: 0;
    margin-left: 0rem;
  }

  .s-contacts__driving-location {
    margin-top: 3.125rem;
  }

  .s-contacts__location-item {
    margin-bottom: 2.3125rem;
  }

  .s-contacts__location-btn {
    margin-right: 9.375rem;
  }

  .s-contacts__location-size {
    margin-left: 1.875rem;
  }

  .s-social {
    padding-bottom: 5rem;
  }

  .s-social__send {
    margin-bottom: 10.625rem;
  }

  .s-social__send-item {
    margin: 0 0 0 10.625rem;
    padding: 0.875rem 0;
  }

  .s-social__send .phone {
    min-width: 15.625rem;
    padding-right: 10.6875rem;
  }

  .s-social__send .phone .s-social__item-text {
    font-size: 2rem;
    line-height: 2.375rem;
  }

  .s-social__item-text {
    min-height: 3.625rem;
  }
}
/*# sourceMappingURL=maps/contacts.css.map */
