.s-error {
  position: relative;
  padding: 1.5625rem 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.s-error .l-default {
  position: static;
}

.s-error__note {
  max-width: 15.9375rem;
  margin-bottom: 15rem;
  font-size: 1.0625rem;
  line-height: 1.3;
  color: #656669;
}

.s-error__note br {
  display: none;
}

.s-error__note span {
  color: #ffffff;
}

.s-error__title {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 550px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #000203;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.s-error__subtitle {
  margin-bottom: 1.125rem;
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 1;
  color: #4e5056;
}

.s-error__subtitle svg {
  width: 0.9375rem;
  margin-left: 4px;
  margin-bottom: -4px;
}

.s-error__text {
  margin-bottom: 2.625rem;
  font-size: 1.1875rem;
  line-height: 1.3;
  color: #ffffff;
}

.s-error__text br {
  display: none;
}

.s-error__buttons {
  display: grid;
  margin-bottom: 3.75rem;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.125rem;
}

.s-error__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.9375rem 0;
}

.s-error__item-text {
  font-size: 0.9375rem;
  line-height: 1.1;
  color: #4e5056;
  flex: none;
  letter-spacing: -0.03em;
}

.s-error__item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.4375rem;
  height: 2.375rem;
  max-width: 100%;
  flex: none;
}

@media (min-width: 768px) {
  .s-error {
    padding: 2.1875rem 0;
  }

  .s-error__note {
    max-width: 41rem;
    margin-bottom: 21.125rem;
    font-size: 1.4375rem;
  }

  .s-error__note br {
    display: block;
  }

  .s-error__subtitle {
    font-size: 5.625rem;
  }

  .s-error__text {
    max-width: 34.375rem;
    margin-bottom: 4.375rem;
    font-size: 1.4375rem;
  }

  .s-error__buttons {
    margin-bottom: 5.625rem;
    gap: 2.125rem 1.875rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .s-error__item {
    gap: 0.9375rem 0;
  }
}

@media (min-width: 1024px) {
  .s-error {
    padding: 2.8125rem 0;
  }

  .s-error__note {
    max-width: 44.6875rem;
    margin-bottom: 15.625rem;
    font-size: 1.5625rem;
  }

  .s-error__text {
    max-width: 39.0625rem;
  }

  .s-error__buttons {
    margin-bottom: 7.1875rem;
    gap: 2.125rem 9.375rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .s-error__item {
    gap: 0.9375rem 0;
  }
}

@media (min-width: 1200px) {
  .s-error__text br {
    display: block;
  }
}

@media (min-width: 1600px) {
  .s-error__note {
    max-width: 49rem;
    margin-bottom: 7.1875rem;
    font-size: 1.6875rem;
  }

  .s-error__text {
    margin-bottom: 8.75rem;
    font-size: 1.5625rem;
  }

  .s-error__buttons {
    margin-bottom: 7.5rem;
    gap: 2.5rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1920px) {
  .s-error__note {
    margin-bottom: 7.5625rem;
    font-size: 1.875rem;
  }

  .s-error__subtitle {
    margin-bottom: 1.5625rem;
    font-size: 6.25rem;
  }

  .s-error__text {
    max-width: 43.75rem;
    margin-bottom: 9.375rem;
  }

  .s-error__buttons {
    gap: 7.5rem;
  }
}

@media (max-width: 1699px) {
  .s-error__title {
    font-size: 490px;
  }
}

@media (max-width: 1199px) {
  .s-error__title {
    font-size: 450px;
  }
}

@media (max-width: 991px) {
  .s-error__title {
    top: 60px;
    font-size: 400px;
  }
}

@media (max-width: 600px) {
  .s-error__title {
    top: 124px;
    font-size: 250px;
  }
}

@media (max-width: 374px) {
  .s-error__title {
    font-size: 200px;
  }
}
/*# sourceMappingURL=maps/error_page.css.map */
