.js-error {
}
.non-active {
    opacity: 0.4;
    cursor: default;
}
.header__wrapper {
    position: relative;
}
.header__links-item {
    position: absolute;
    top: 6px;
    left: -35px;
}
@media (max-width: 768px) {
    .header__links-item {
        left: 35px;
    }
}
.admin-link {
    color: #e4f0f7;
    text-decoration: underline;
}
.s-partners__item img {
    max-height: none !important;
}
.search__result {
    top: 26px;
}
.s-events-cities__item.active {
    border: 0.0625rem solid #d91745;
}
#header-registration .form__input label span {
    color: #656669;
}
#popup-registration-success .title {
    text-align: center;
    padding-bottom: 50px;
    font-size: 2em;
}
