.s-partners-page {
  padding: 100px 0 110px;
}

.s-partners-page .title {
  text-align: center;
  margin-bottom: 82px;
}

.s-partners-page__items {
  display: flex;
  flex-wrap: wrap;
}

.s-partners-page__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  border-right: 1px solid #424346;
}

.s-partners-page__item:after {
  transition: all 0.4s ease;
  content: '';
  width: calc(100% - 53px);
  height: 1px;
  background: #424346;
  margin-top: 30px;
}

.s-partners-page__item:nth-child(5n) {
  border-right: none;
}

.s-partners-page__item:nth-child(8):after {
  background: #d91745 !important;
}

.s-partners-page__item:nth-child(8) .s-partners-page__item-text {
  color: #fff;
}

.s-partners-page__item-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 158px;
  margin: 0 auto;
}

.s-partners-page__item-logo img {
  max-width: 170px;
  max-height: 85px;
}

.s-partners-page__item:hover img {
  filter: brightness(0) invert(1);
}

.s-partners-page__item:hover:after {
  background: #CECED0;
}

.s-partners-page__item:active:after {
  background: #d91745;
}

.s-partners-page__item-text {
  transition: all 0.4s ease;
  font-size: 17px;
  line-height: 120%;
  font-weight: 300;
  letter-spacing: 0.38em;
  color: #424346;
}

.s-partners-page__btn {
  transition: all 0.4s ease;
}

.s-partners-page__btn:hover .s-partners-page__item-text {
  color: #fff;
}

.s-partners-page__btn:active .s-partners-page__item-text {
  color: #d91745;
}

.s-partners-page__btn:active:after {
  background: #d91745;
}

.wrapper {
  position: relative;
}

.wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(".././img/about/bg-page.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1699px) {
  .s-partners-page {
    padding: 85px 0 110px;
  }

  .s-partners-page .title {
    margin-bottom: 70px;
  }

  .s-partners-page__item:after {
    width: calc(100% - 48px);
    max-width: 160px;
    margin-top: 25px;
  }

  .s-partners-page__item-logo {
    min-height: 131px;
  }

  .s-partners-page__item-logo img {
    max-width: 141px;
  }

  .s-partners-page__item-text {
    font-size: 15px;
  }
}

@media (max-width: 1199px) {
  .s-partners-page {
    padding: 60px 0 90px;
  }

  .s-partners-page .title {
    margin-bottom: 55px;
  }

  .s-partners-page__items {
    justify-content: center;
  }

  .s-partners-page__item {
    width: 33.3333%;
  }

  .s-partners-page__item:nth-child(5n) {
    border-right: 1px solid #424346;
  }

  .s-partners-page__item:nth-child(3n) {
    border-right: none;
  }

  .s-partners-page__item:last-child {
    border-left: 1px solid #424346;
  }
}

@media (max-width: 991px) {
  .s-partners-page {
    padding: 50px 0 80px;
  }

  .s-partners-page .title {
    margin-bottom: 60px;
  }

  .s-partners-page__item:after:nth-child(3n) {
    border-right: none;
  }

  .s-partners-page__item-logo img {
    max-width: 126px;
  }

  .s-partners-page__item-text {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .s-partners-page {
    padding: 48px 0 50px;
  }

  .s-partners-page .title {
    margin-bottom: 31px;
  }

  .s-partners-page__item {
    width: 50%;
  }

  .s-partners-page__item:after {
    width: calc(100% - 37px);
    margin-top: 8px;
  }

  .s-partners-page__item:nth-child(3n) {
    border-right: 1px solid #424346;
  }

  .s-partners-page__item:nth-child(2n) {
    border-right: none;
  }

  .s-partners-page__item-logo {
    min-height: 81px;
  }

  .s-partners-page__item-logo img {
    max-width: 100px;
    max-height: 52px;
  }

  .s-partners-page__item-text {
    font-size: 10px;
  }
}
/*# sourceMappingURL=maps/partners.css.map */
