.s-product-content__text {
  max-width: 33.75rem;
  margin: 0 auto;
  padding: 1rem 1.875rem 0;
  font-size: 1.5625rem;
  line-height: 1.3;
  color: #424346;
}

.s-product-content__image img {
  width: 100%;
  height: auto;
}

.s-product-benefits {
  margin-bottom: 2.1875rem;
}

.s-product-benefits__items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.25rem;
}

.s-product-benefits__item {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 28.75rem;
  min-height: 17.5rem;
  margin: 0 auto;
  color: #ceced0;
  background-image: url(/img/product-benefit/bg.png);
  background-color: rgba(47, 47, 47, 0.97);
  backdrop-filter: blur(0.125rem);
}

.s-product-benefits__item:nth-child(1) .s-product-benefits__item-image {
  top: 0;
  right: 0;
}

.s-product-benefits__item:nth-child(1) .s-product-benefits__item-image img {
  max-height: 8rem;
}

.s-product-benefits__item:nth-child(2) .s-product-benefits__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.s-product-benefits__item:nth-child(2) .s-product-benefits__item-image {
  bottom: 0;
  left: 0;
}

.s-product-benefits__item:nth-child(2) .s-product-benefits__item-image img {
  max-height: 13rem;
}

.s-product-benefits__item:first-child {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.s-product-benefits__item-image {
  position: absolute;
}

.s-product-benefits__item-info {
  z-index: 1;
  position: relative;
  max-width: 90%;
  padding: 1.4375rem;
}

.s-product-benefits__item-title {
  margin-bottom: 0.3125rem;
  font-size: 1.1875rem;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.s-product-benefits__item-text {
  font-size: 0.625rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.s-product-benefits__item-text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.s-product-benefits__item-text p:nth-child(2),
.s-product-benefits__item-text p:nth-child(3) {
  padding-left: 1.875rem;
}

.s-product-characteristics {
  position: relative;
  margin-top: 2.1875rem;
  margin-bottom: 4.375rem;
  color: #ceced0;
}

.s-product-characteristics__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 26.25rem;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.s-product-characteristics__content {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.s-product-characteristics__items {
  display: flex;
  margin-bottom: 1.5625rem;
  flex-direction: column;
  gap: 3.125rem;
}

.s-product-characteristics__row-title {
  margin-bottom: 0.9375rem;
  font-size: 1.0625rem;
  line-height: 1.25rem;
  text-transform: uppercase;
}

.s-product-characteristics__row-items {
  display: flex;
  flex-wrap: wrap;
  gap: 3.125rem;
}

.s-product-characteristics__item {
  max-width: 13.125rem;
}

.s-product-characteristics__item-title {
  margin-bottom: 0.3125rem;
  font-size: 0.625rem;
  line-height: 0.75rem;
}

.s-product-characteristics__item-text {
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 1.8125rem;
  text-transform: uppercase;
}

.s-product-characteristics__bottom {
  display: flex;
  justify-content: flex-end;
}

.s-product-characteristics__text {
  max-width: 16.125rem;
  margin-bottom: 14.375rem;
  font-size: 0.75rem;
  line-height: 1.5;
}

.s-product-characteristics__text p:not(:last-child) {
  margin-bottom: 1.0625rem;
}

.s-product-about {
  position: relative;
  padding: 1.75rem 0;
}

.s-product-about__wrap {
  position: relative;
}

.s-product-about__slogan {
  z-index: 1;
  position: relative;
  max-width: 19.375rem;
  margin-bottom: 2.5rem;
  font-size: 2.1875rem;
  font-weight: 500;
  line-height: 2.125rem;
  color: rgba(255, 255, 255, 0.2);
  background: -webkit-linear-gradient(rgba(0, 2, 3, 0.4), rgba(255, 255, 255, 0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.03em;
}

.s-product-about__logo {
  display: none;
  font-weight: 500;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.0625rem rgba(0, 0, 0, 0.1);
}

.s-product-about__title {
  margin-bottom: 0.3125rem;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.375rem;
  text-align: center;
  color: #ceced0;
}

.s-product-about__image {
  position: relative;
  width: 28.875rem;
  height: 15.75rem;
  margin-bottom: 1.0625rem;
}

.s-product-about__image img {
  position: absolute;
  top: 0;
  right: -5%;
  width: 28.875rem;
  height: 15.75rem;
  object-fit: contain;
}

.s-product-about__info {
  z-index: 1;
  position: relative;
}

.s-product-about__item-text {
  margin-bottom: 0.3125rem;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 0.9375rem;
  text-align: center;
  color: #656669;
}

.s-product-about__registry {
  z-index: 1;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 0.75rem;
}

.s-product-tech {
  margin-bottom: 6.25rem;
  padding: 2.1875rem 0;
}

.s-product-tech .l-default {
  padding-right: 0;
}

.s-product-tech .title {
  margin-bottom: 2.8125rem;
}

.s-product-tech__info {
  margin-bottom: 2.1875rem;
}

.s-product-tech__info._show .s-product-tech__item:nth-child(n + 6) {
  display: flex;
}

.s-product-tech__info:not(_show) .s-product-tech__item:nth-child(5) {
  border-bottom: 0;
}

.s-product-tech__item {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 0.4375rem 0;
  font-size: 0.625rem;
  font-weight: 300;
  line-height: 0.75rem;
  color: #ffffff;
}

.s-product-tech__item:not(:last-child) {
  border-bottom: 0.0625rem solid #656669;
}

.s-product-tech__item:nth-child(n + 6) {
  display: none;
}

.s-product-tech__item-name {
  width: 9.1875rem;
  padding-right: 0.9375rem;
  flex: none;
}

.s-product-tech__item-values {
  position: relative;
  width: 100%;
  padding-right: 1.1875rem;
  padding-left: 1.1875rem;
}

.s-product-tech__item-values::before {
  position: absolute;
  top: -30px;
  left: 0;
  width: 0.0625rem;
  height: calc(100% + 100px);
  content: "";
  background-color: #656669;
}

.s-product-tech__item-values span {
  display: block;
}

.s-product-tech__item-values span:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.s-product-tech__item-values p:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.s-product-tech__item-values ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.s-product-tech__item-values ul li:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.s-product-tech__item:nth-child(even) {
  background: rgba(217, 217, 217, 0.07);
}

.s-product-tech__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.9375rem;
  flex-wrap: wrap;
  gap: 1.125rem;
}

.s-product-tech__button {
  height: 2.75rem;
  max-width: initial;
  padding-right: 0.875rem;
  padding-left: 0.875rem;
}

.s-product-tech__button:nth-child(1),
.s-product-tech__button:nth-child(2) {
  width: 47%;
}

.s-product-tech__button:nth-child(3) {
  width: 100%;
}

.s-product-tech__button:hover {
  border: 0.0625rem solid #d91745;
}

.s-product-docs {
  position: relative;
  display: flex;
  width: 100%;
}

.s-product-docs__wrapper {
  width: calc(100% - (238px * 2));
  min-height: 810px;
  background: linear-gradient(357.79deg, #202020 1.85%, rgba(40, 46, 66, 0) 69.85%);
  padding-top: 130px;
  margin: 0 auto;
}

.s-product-docs__info {
  position: relative;
  margin: 0 auto;
}

.s-product-docs__back {
  position: absolute;
  width: 238px;
  height: 100%;
}

.s-product-docs__back-right {
  right: 0;
}

.s-product-docs__back img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.s-product-docs__tabs {
  display: flex;
  align-items: center;
  margin-bottom: 3.625rem;
  flex-wrap: wrap;
  gap: 0.625rem 1.5625rem;
}

.s-product-docs__tab {
  cursor: pointer;
  position: relative;
  padding: 0.5rem 0;
  font-size: 1.0625rem;
  line-height: 1.25rem;
  color: #4e5056;
  border: 0.125rem solid transparent;
  transition: 0.4s;
}

.s-product-docs__tab.is-active {
  color: #ceced0;
  border-bottom: 0.125rem solid #d91745;
}

.s-product-docs__tab.is-active::before {
  position: absolute;
  top: 50%;
  left: -15px;
  width: 0.1875rem;
  height: 1rem;
  transform: translateY(-50%);
  background-color: #d91745;
  content: "";
}

.s-product-docs__tab:hover {
  color: #ceced0;
  border-bottom: 0.125rem solid #d91745;
}

.s-product-docs__content {
  display: none;
  animation: show 0.4s ease-in-out;
}

.s-product-docs__content.is-active {
  display: block;
}

.s-product-docs__content-wrapper {
  position: relative;
  display: flex;
  height: 10.9375rem;
  margin: 2.5rem 0;
  flex-direction: column;
  gap: 0.9375rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.s-product-docs__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 0.75rem;
  line-height: 0.875rem;
  color: #9a9ea9;
  gap: 0.9375rem;
}

.s-product-docs__item-description {
  font-size: 0.625rem;
  line-height: 0.875rem;
}

.s-product-docs__item-info {
  display: flex;
  align-items: center;
  padding-right: 1.25rem;
  gap: 0.625rem;
}

.s-product-docs__item-download {
  cursor: pointer;
}

.s-product-docs__item-download svg {
  width: 1.25rem;
  height: 1.25rem;
  transition: 0.5s;
  fill: #ffffff;
}

.s-product-docs__item-download:hover svg {
  fill: #d91745;
}

.s-product-video {
  position: relative;
  padding-top: 12.5rem;
  padding-bottom: 81px;
}

.s-product-video__wrapper {
  display: flex;
  align-items: flex-end;
}

.s-product-video__left {
  margin-right: 127px;
  padding-bottom: 40px;
}

.s-product-video__right {
  margin-left: auto;
}

.s-product-video__notebook {
  position: relative;
  margin-right: -70px;
  cursor: default;
}

.s-product-video__notebook-monitor {
  content: '';
  position: absolute;
  top: 5%;
  left: 46%;
  z-index: 1;
  transform: translateX(-46%);
  width: 60%;
  height: 65%;
  background: #000;
  opacity: 0;
  cursor: pointer;
}

.s-product-video__link {
  display: flex;
  align-items: center;
}

.s-product-video__link-text {
  font-size: 40px;
  line-height: 1;
  white-space: nowrap;
  margin-right: 40px;
}

.s-product-video__link-icon {
  width: 56px;
}

.s-product-video__text {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-top: 31px;
  margin-left: auto;
  margin-right: 100px;
}

.s-product-video__text-content {
  max-width: 664px;
  margin: 0 23px;
}

.s-product-video__text p {
  font-size: 23px;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 18px;
  padding-top: 15px;
}

.s-product-video__text span {
  font-size: 19px;
  line-height: 120%;
  font-weight: 300;
  color: #c6c7d0;
}

.s-product-video__quote {
  font-size: 30px;
  line-height: 1;
}

.s-product-video__year {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  z-index: -1;
  font-size: 380px;
  line-height: 1;
  font-weight: 900;
  color: #ceced0;
  opacity: .1;
}

.s-product-video__noise {
  position: absolute;
  bottom: 0;
  z-index: -2;
}

.product-page {
  background: url(/img/bg/product_page.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

@media (min-width: 410px) {
  .s-product-about__image img {
    right: -30%;
    width: 41.1875rem;
    height: 16.875rem;
  }
}

@media (min-width: 575px) {
  .s-product-about__image {
    width: 41.1875rem;
    height: 22.4375rem;
  }
}

@media (min-width: 768px) {
  .s-product-content__text {
    font-size: 2.1875rem;
  }

  .s-product-benefits__items {
    gap: 2.5rem;
  }

  .s-product-benefits__item {
    min-height: 26.6875rem;
  }

  .s-product-benefits__item:nth-child(1) .s-product-benefits__item-image img {
    max-height: 14.75rem;
  }

  .s-product-benefits__item:nth-child(2) .s-product-benefits__item-image img {
    max-height: 26.6875rem;
  }

  .s-product-benefits__item-info {
    padding: 2.5rem 1.875rem;
  }

  .s-product-benefits__item-title {
    margin-bottom: 0.9375rem;
    font-size: 1.5625rem;
    line-height: 1.8125rem;
  }

  .s-product-benefits__item-text {
    font-size: 0.75rem;
  }

  .s-product-benefits__item-text p:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .s-product-characteristics__bg {
    width: 37.6875rem;
  }

  .s-product-characteristics__items {
    width: 50%;
    margin-bottom: 2.375rem;
    gap: 2.375rem;
  }

  .s-product-characteristics__text {
    max-width: 23rem;
  }

  .s-product-about__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
    gap: 6.875rem;
  }

  .s-product-about__logo {
    position: absolute;
    top: 15%;
    display: block;
    font-size: 8.125rem;
    line-height: 1.1;
  }

  .s-product-about__title {
    text-align: left;
  }

  .s-product-about__image {
    position: absolute;
    top: 0;
    right: 0;
  }

  .s-product-about__image img {
    right: -30%;
    width: 41.1875rem;
    height: 22.4375rem;
  }

  .s-product-about__info {
    max-width: 19.375rem;
  }

  .s-product-about__item-text {
    margin-bottom: 0.9375rem;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    text-align: left;
  }

  .s-product-about__registry {
    margin-top: 1.875rem;
    font-size: 0.9375rem;
    font-weight: 300;
    line-height: 1.125rem;
  }

  .s-product-tech {
    margin-bottom: 4.0625rem;
  }

  .s-product-tech__info {
    margin-bottom: 3.4375rem;
  }

  .s-product-tech__item {
    padding: 0.75rem 0;
    font-size: 0.75rem;
    line-height: 0.875rem;
  }

  .s-product-tech__item-values {
    padding-left: 2.6875rem;
  }

  .s-product-tech__buttons {
    justify-content: flex-end;
    flex-wrap: nowrap;
  }

  .s-product-tech__button {
    width: max-content;
    min-width: 10.4375rem;
  }

  .s-product-tech__button:nth-child(1),
  .s-product-tech__button:nth-child(2) {
    width: max-content;
  }

  .s-product-tech__button:nth-child(3) {
    width: max-content;
  }

  .s-product-docs__tabs {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .s-product-docs__tab {
    padding: 0.9375rem 0;
    font-size: 1.1875rem;
    line-height: 1.375rem;
  }

  .s-product-docs__tab.is-active::before {
    top: 4.6875rem;
    left: 0;
    transform: none;
  }
}

@media (min-width: 992px) {
  .s-product-characteristics {
    margin-bottom: 5.625rem;
  }

  .s-product-characteristics__bg {
    width: 57.5rem;
    height: 46.25rem;
  }

  .s-product-characteristics__items {
    display: flex;
    width: 100%;
    margin-bottom: 7.8125rem;
    gap: 3.125rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .s-product-characteristics__row-title {
    margin-bottom: 2.375rem;
    font-size: 1.4375rem;
    line-height: 1.8125rem;
  }

  .s-product-characteristics__item-title {
    min-height: 2.6875rem;
    margin-bottom: 1.375rem;
    font-size: 0.9375rem;
    line-height: 1.125rem;
  }

  .s-product-characteristics__item-text {
    font-size: 2.5rem;
    line-height: 2.9375rem;
  }

  .s-product-characteristics__text {
    max-width: 29.375rem;
    margin-bottom: 23.125rem;
  }

  .s-product-about__slogan {
    max-width: 38.75rem;
    padding-top: 1.625rem;
    font-size: 4.375rem;
    line-height: 4.3125rem;
  }

  .s-product-about__title {
    margin-bottom: 2.8125rem;
    font-size: 2.1875rem;
    line-height: 2.5625rem;
  }

  .s-product-about__image {
    right: -9.375rem;
    width: 48.5rem;
    height: 26.375rem;
  }

  .s-product-about__image img {
    width: 48.5rem;
    height: 26.375rem;
  }

  .s-product-about__info {
    max-width: 100%;
  }

  .s-product-about__list {
    display: flex;
    align-items: center;
    max-width: 100%;
    gap: 2.75rem;
  }

  .s-product-about__item-text {
    margin-bottom: 0;
    font-size: 1.0625rem;
    line-height: 1.25rem;
  }

  .s-product-about__registry {
    margin-top: 0;
    margin-left: auto;
    font-size: 1.0625rem;
    line-height: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .s-product-content__text {
    max-width: 38.125rem;
    font-size: 2.8125rem;
  }

  .s-product-benefits {
    margin-bottom: 3.75rem;
  }

  .s-product-benefits__items {
    gap: 2.8125rem;
  }

  .s-product-benefits__item {
    max-width: 36.25rem;
    min-height: 33.5rem;
  }

  .s-product-benefits__item:nth-child(1) .s-product-benefits__item-image img {
    max-height: 36.25rem;
  }

  .s-product-benefits__item:nth-child(2) .s-product-benefits__item-image img {
    max-height: 36.25rem;
  }

  .s-product-benefits__item-info {
    padding: 2.8125rem;
  }

  .s-product-benefits__item-title {
    margin-bottom: 1.25rem;
  }

  .s-product-benefits__item-text {
    font-size: 0.9375rem;
  }

  .s-product-benefits__item-text p:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .s-product-benefits__item-text p:nth-child(2),
  .s-product-benefits__item-text p:nth-child(3) {
    padding-left: 2.5rem;
  }

  .s-product-characteristics__row-items {
    gap: 4.6875rem;
  }

  .s-product-characteristics__item {
    max-width: 100%;
  }

  .s-product-characteristics__text {
    font-size: 0.9375rem;
    line-height: 1.7;
  }

  .s-product-about {
    padding: 4.6875rem 0;
  }

  .s-product-about__logo {
    top: 15%;
    font-size: 12.5rem;
  }

  .s-product-tech {
    margin-bottom: 6.875rem;
  }

  .s-product-tech .title {
    margin-bottom: 5.375rem;
  }

  .s-product-tech__item {
    padding: 0.875rem 0;
    font-size: 1.0625rem;
    line-height: 1.25rem;
  }

  .s-product-tech__item-name {
    width: 14.375rem;
  }

  .s-product-tech__item-values {
    padding-left: 2.9375rem;
  }

  .s-product-tech__buttons {
    justify-content: center;
    gap: 1.875rem;
  }

  .s-product-docs__tab {
    padding: 1.125rem 0;
    font-size: 1.5625rem;
    line-height: 1.8125rem;
  }

  .s-product-docs__tab.is-active::before {
    top: 5.9375rem;
  }

  .s-product-docs__content-wrapper {
    height: 25rem;
    gap: 3.125rem;
  }

  .s-product-docs__item {
    font-size: 1.0625rem;
    line-height: 1.25rem;
  }

  .s-product-docs__item-info {
    padding-right: 2.1875rem;
    gap: 1.5625rem;
  }
}

@media (min-width: 1440px) {
  .s-product-content__text {
    max-width: 60rem;
    font-size: 4.375rem;
  }

  .s-product-benefits {
    margin-bottom: 5rem;
  }

  .s-product-benefits__items {
    gap: 1.875rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .s-product-benefits__item {
    max-width: 100%;
    min-height: 41.3125rem;
  }

  .s-product-benefits__item:nth-child(1) .s-product-benefits__item-image img {
    max-height: 19.5rem;
  }

  .s-product-benefits__item-info {
    padding: 3.75rem;
  }

  .s-product-benefits__item-title {
    font-size: 2.375rem;
    line-height: 2.8125rem;
  }

  .s-product-benefits__item-text {
    font-size: 1.1875rem;
  }

  .s-product-benefits__item-text p:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .s-product-benefits__item-text p:nth-child(2),
  .s-product-benefits__item-text p:nth-child(3) {
    padding-left: 3.75rem;
  }

  .s-product-characteristics__bg {
    width: 66.25rem;
    height: 57.6875rem;
  }

  .s-product-characteristics__items {
    justify-content: flex-end;
  }

  .s-product-characteristics__items {
    margin-bottom: 9.0625rem;
    gap: 6.875rem;
  }

  .s-product-characteristics__row-title {
    margin-bottom: 6.1875rem;
    font-size: 2.1875rem;
    line-height: 2.5625rem;
  }

  .s-product-characteristics__item-title {
    margin-bottom: 2.3125rem;
    font-size: 1.125rem;
    line-height: 1.3125rem;
  }

  .s-product-characteristics__item-text {
    font-size: 3.75rem;
    line-height: 4.375rem;
  }

  .s-product-characteristics__text {
    max-width: 35rem;
    margin-bottom: 26.875rem;
    font-size: 1.1875rem;
  }

  .s-product-about__logo {
    top: 25%;
    font-size: 25rem;
  }

  .s-product-about__image img {
    right: -40%;
  }
}

@media (min-width: 1600px) {
  .s-product-benefits__item:nth-child(2) .s-product-benefits__item-info {
    padding-left: 13.75rem;
  }

  .s-product-about__wrap {
    gap: 18.75rem;
  }

  .s-product-about__slogan {
    max-width: 55.625rem;
    padding-top: 2.6875rem;
    font-size: 6.25rem;
    line-height: 6.125rem;
  }

  .s-product-about__title {
    margin-bottom: 3.5625rem;
    font-size: 2.375rem;
    line-height: 2.8125rem;
  }

  .s-product-about__image {
    right: -3.125rem;
    width: 76.4375rem;
    height: 42.0625rem;
  }

  .s-product-about__image img {
    width: 76.4375rem;
    height: 42.0625rem;
  }

  .s-product-about__item-text {
    font-size: 1.1875rem;
    line-height: 1.375rem;
  }

  .s-product-about__registry {
    font-size: 1.1875rem;
    line-height: 1.375rem;
  }

  .s-product-tech {
    margin-bottom: 10.625rem;
  }

  .s-product-tech .l-default {
    padding-left: 15rem;
  }

  .s-product-tech .title {
    margin-bottom: 6.25rem;
  }

  .s-product-tech__info {
    margin-bottom: 3.75rem;
  }

  .s-product-tech__item {
    font-size: 1.1875rem;
    line-height: 1.375rem;
  }

  .s-product-tech__item-values {
    padding-left: 3.625rem;
  }

  .s-product-tech__item-values span:not(:last-child) {
    margin-bottom: 0.4375rem;
  }

  .s-product-tech__item-values p {
    margin-bottom: 0.4375rem;
  }

  .s-product-tech__item-values ul li {
    margin-bottom: 0.4375rem;
  }

  .s-product-tech__buttons {
    gap: 1.25rem;
  }

  .s-product-docs__tabs {
    margin-bottom: 7.0625rem;
  }

  .s-product-docs__tab {
    font-size: 2.375rem;
    line-height: 2.8125rem;
  }

  .s-product-docs__tab.is-active::before {
    top: 7.5rem;
  }

  .s-product-docs__content-wrapper {
    height: 37.5rem;
  }

  .s-product-docs__item {
    font-size: 1.3125rem;
    line-height: 1.5625rem;
  }
}

@media (min-width: 1920px) {
  .s-product-characteristics__bg {
    width: 70.9375rem;
  }

  .s-product-characteristics__items {
    margin-bottom: 13.75rem;
    gap: 8.75rem;
  }

  .s-product-characteristics__row-title {
    margin-bottom: 5.8125rem;
    font-size: 2.5rem;
    line-height: 2.9375rem;
  }

  .s-product-characteristics__row-items {
    gap: 6.875rem;
  }

  .s-product-characteristics__text {
    margin-bottom: 23.4375rem;
  }

  .s-product-about__wrap {
    gap: 16.875rem;
  }

  .s-product-about__slogan {
    max-width: 78.125rem;
    padding-top: 5rem;
    font-size: 7.5rem;
    line-height: 7.375rem;
  }

  .s-product-about__title {
    margin-bottom: 1.875rem;
    font-size: 2.5rem;
    line-height: 2.9375rem;
  }

  .s-product-about__item-text {
    font-size: 1.3125rem;
    line-height: 1.5625rem;
  }

  .s-product-about__registry {
    font-size: 1.3125rem;
    line-height: 1.5625rem;
  }

  .s-product-tech {
    margin-bottom: 12.5rem;
  }

  .s-product-tech .l-default {
    padding-left: 16.875rem;
  }

  .s-product-docs__tab {
    font-size: 2.5rem;
    line-height: 2.9375rem;
  }
}

@media (max-width: 574px) {
  .s-product-about__registry {
    position: absolute;
    top: 8.625rem;
    right: 0.9375rem;
  }
}
/*# sourceMappingURL=maps/product_page.css.map */
