.s-top-menu {
  z-index: 1;
  position: relative;
  margin: 1.25rem 0;
  padding: 0.5rem 0;
  background: rgba(0, 0, 0, 0.4);
}

.s-top-menu__title {
  margin-bottom: 3.75rem;
}

.s-top-menu__item {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: block;
  height: 6.4375rem;
  border-radius: 0.3125rem;
}

.s-top-menu__item-img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 11.6875rem;
}

.s-top-menu__item-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.3125rem;
  object-fit: cover;
}

.s-top-menu__item-info {
  z-index: 2;
  position: absolute;
  bottom: 0.625rem;
  left: 0.375rem;
  color: #ceced0;
}

.s-top-menu__item-title {
  z-index: 1;
  position: relative;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.2;
}

.s-top-menu__item-text {
  z-index: 1;
  position: relative;
  font-size: 0.625rem;
  line-height: 0.75rem;
}

.s-top-menu__slide {
  width: 9.125rem;
  height: auto;
  transition: 0.5s;
}

.s-top-menu__slide:after {
  z-index: -10;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 5%);
  height: calc(100% + 5%);
  border: 0.125rem solid #c6c7d000;
  border-radius: 0.625rem;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  filter: blur(4.5px);
  content: "";
}

.s-top-menu__slide:hover:after {
  border: 0.125rem solid #c6c7d0;
  content: "";
}

.s-top-menu .is-active:after {
  border: 0.125rem solid #c6c7d0;
  filter: blur(4.5px);
  content: "";
}

.s-top-menu__slider {
  max-width: 65rem;
  margin: 0 auto;
}

.s-top-menu .swiper-container {
  overflow: visible;
}

.s-support-form {
  overflow: hidden;
}

.s-support-form__columns {
  display: flex;
  margin: 0 -50px;
}

.s-support-form__column {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 500px;
  margin: 0 50px;
}

.s-support-form__contacts {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 425px;
  min-width: 425px;
  margin-left: auto;
}

.s-support-form__contacts-title {
  font-size: 40px;
  line-height: 120%;
}

.s-support-form__contacts-phone {
  display: block;
  margin-bottom: 30px;
}

.s-support-form__contacts-phone label,
.s-support-form__contacts-email label {
  display: block;
  font-size: 12px;
  line-height: .05;
  color: #333333;
}

.s-support-form__contacts-phone span,
.s-support-form__contacts-email span {
  font-size: 40px;
  line-height: 120%;
  white-space: nowrap;
  font-size: 40px;
  color: #656669;
}

.s-support-form__contacts-links {
  margin-top: auto;
}

.s-support-form__contacts-message {
  font-size: 25px;
  line-height: 120%;
  color: #d91745;
}

.s-support-form__inputs {
  display: flex;
  width: calc(100% - 425px);
}

.s-support-form__bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 -50px;
  margin-top: 105px;
}

.s-support-form__bottom-item {
  max-width: 425px;
  min-width: 425px;
  margin: 0 50px;
}

.s-support-form__bottom-left {
  display: flex;
  flex: 1;
  width: calc(100% - 425px);
}

.s-support-form__bottom-left .s-support-form__bottom-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 500px;
  min-width: 0;
  margin: 0 50px;
}

.s-support-form .form__submit {
  max-width: 100%;
  font-size: 15px;
  line-height: 1;
  color: #fff;
  border-radius: 5px;
  background: #333333;
  padding: 10px 0;
}

.s-support-form .form__title {
  min-height: 92px;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 43px;
}

.s-support-form .form__inputs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.s-support-form .form__input {
  margin-bottom: 43px;
}

.s-support-form .form__input:last-child {
  margin-bottom: 0;
}

.s-support-form .form__input input {
  min-height: 48px;
}

.s-support-form .form__input label {
  margin-bottom: 6px;
}

.s-support-form .form__textarea {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 0;
}

.s-support-form .form__textarea textarea {
  height: 100%;
}

.s-support-form .form__textarea label {
  margin-bottom: 6px;
}

.s-support-form .form__checkbox {
  align-items: center;
}

.s-support-form .form__checkbox-text {
  font-size: 12px;
}

.s-support-form .form__radios {
  display: flex;
  align-items: center;
  margin-bottom: 115px;
}

.s-support-form .form__radio {
  position: relative;
  margin-right: 40px;
}

.s-support-form .form__radio:last-child {
  margin-right: 0;
}

.s-support-form .form__radio-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.s-support-form .form__radio-input:checked + .form__radio-text {
  color: #fff;
}

.s-support-form .form__radio-text {
  transition: all 0.4s ease;
  font-size: 30px;
  line-height: 1;
  white-space: nowrap;
  color: #4E5056;
}

.s-support-form .form__radio:hover .form__radio-text {
  color: #fff;
}

.s-support-form__title {
  font-size: 50px;
  line-height: 120%;
  color: #4E5056;
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 80px;
}

.s-support-form-drivers {
  padding: 167px 0 150px;
}

.s-support-contact {
  position: relative;
  padding: 38px 0 190px;
  overflow: visible;
}

.s-support-contact__title {
  max-width: 821px;
  font-size: 30px;
  line-height: 120%;
  color: #4E5056;
  margin-bottom: 132px;
}

.s-support-contact__caption {
  position: absolute;
  top: -250px;
  right: -45%;
  font-size: 350px;
  font-weight: 900;
  letter-spacing: -0.03em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.25rem rgba(255, 255, 255, 0.05);
  letter-spacing: -0.03em;
}

.s-support-contact__descriptions {
  display: flex;
  margin-bottom: 40px;
}

.s-support-contact__subtitle {
  min-width: 889px;
  font-size: 21px;
  line-height: 120%;
  color: #CECED0;
}

.s-support-contact__description {
  max-width: 720px;
  font-size: 16px;
  line-height: 120%;
  color: #4E5056;
  margin-left: 120px;
}

.s-support-contact-legal .s-support-contact__title {
  margin-bottom: 63px;
}

.s-requested-info {
  padding: 2.5rem 0;
}

.s-requested-info__title {
  margin-bottom: 2.5rem;
  font-size: 1.5625rem;
  line-height: 100%;
  color: white;
  letter-spacing: -0.03em;
}

.s-requested-info__items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem;
}

.s-requested-info__item {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
  gap: 0.9375rem;
}

.s-requested-info__item-title {
  margin-bottom: 0.375rem;
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: #ceced0;
}

.s-requested-info__item-text {
  font-size: 0.9375rem;
  line-height: 1.125rem;
  color: #4e5056;
}

.s-requested-info__item-bottom {
  padding-top: 0.375rem;
  border-top: 0.0625rem solid #656669;
}

.s-requested-info__item-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  color: #424346;
  transition: 0.5s;
}

.s-requested-info__item-link:hover {
  color: #d91745;
}

.s-requested-info__item-link:hover svg path {
  stroke: #d91745;
}

.s-reviews {
  padding-top: 183px;
  padding-bottom: 139px;
  overflow: hidden;
}

.s-reviews__top {
  position: relative;
}

.s-reviews__caption {
  position: absolute;
  top: -80px;
  right: 0;
  z-index: -1;
  font-size: 350px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -0.05em;
  white-space: nowrap;
  color: #000203;
  opacity: 0.5;
}

.s-reviews .form {
  position: relative;
}

.s-reviews .form__title {
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 20px;
}

.s-reviews .form__subtitle {
  font-size: 19px;
  line-height: 120%;
  margin-bottom: 14px;
  white-space: nowrap;
}

.s-reviews .form__select {
  margin-bottom: 45px;
}

.s-reviews .form__raitings {
  margin-bottom: 40px;
}

.s-reviews .form__raitings-text {
  font-size: 19px;
  line-height: 120%;
  color: #656669;
  margin-bottom: 20px;
}

.s-reviews .form__raitings-items {
  display: flex;
  align-items: center;
}

.s-reviews .form__raitings-item {
  position: relative;
  width: 31px;
  font-size: 31px;
  margin-right: 27px;
}

.s-reviews .form__raitings-item:last-child {
  margin-right: 0;
}

.s-reviews .form__raitings-item svg {
  transition: all 0.4s ease;
  fill: #333333;
  width: 100%;
}

.s-reviews .form__raitings-item.hover svg,
.s-reviews .form__raitings-item.active svg {
  fill: #d91745;
}

.s-reviews .form__raitings-item input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.s-reviews__columns {
  display: flex;
  margin: 0 -50px;
}

.s-reviews__column {
  width: calc(33.3333% - 100px);
  margin: 0 50px;
}

.s-reviews__column:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(77.7777% - 100px);
  margin: 0 50px;
}

.s-reviews .form__inputs {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 -50px;
}

.s-reviews .form__input,
.s-reviews .form__submit {
  width: calc(50% - 100px);
  margin: 0 50px;
  margin-bottom: 34px;
}

.s-reviews .form__input input,
.s-reviews .form__submit input {
  min-height: 48px;
}

.s-reviews .form__input:nth-child(3),
.s-reviews .form__submit:nth-child(3) {
  margin-bottom: 0;
}

.s-reviews .form label {
  margin-bottom: 11px;
}

.s-reviews .form__textarea {
  margin-bottom: 0;
}

.s-reviews .form__textarea textarea {
  min-height: 164px;
}

.s-reviews .form__checkbox {
  margin-top: 40px;
}

.s-reviews .form__submit {
  margin-top: auto;
  margin-bottom: 0 !important;
}

.s-reviews .form__submit .btn {
  width: 100%;
  max-width: 100%;
  min-height: 48px;
  font-size: 15px;
  line-height: 1;
  border-radius: 5px;
  background: #333333;
  padding: 10px 0;
}

.s-service-centres {
  overflow-x: visible;
}

.s-service-centres__info {
  display: flex;
  margin-bottom: 1.25rem;
  flex-direction: column;
  gap: 1.25rem;
}

.s-service-centres__title {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #ceced0;
  letter-spacing: -0.03em;
  white-space: nowrap;
}

.s-service-centres__text {
  font-size: 0.8125rem;
  line-height: 0.875rem;
  color: #ceced0;
}

.s-service-centres__text p:not(:last-child) {
  margin: 0 0 0.9375rem;
}

.s-service-centres .l-default {
  position: relative;
  max-width: 95rem;
}

.s-service-centres .l-default:after {
  position: absolute;
  bottom: 0;
  left: calc(-100% + 70px);
  width: 100%;
  height: 1px;
  background: #d91745;
  content: "";
}

.s-service-centres .l-default:before {
  z-index: 1;
  position: absolute;
  right: calc(-100% + 70px);
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #d91745;
  content: "";
}

.s-service-centres__tabs {
  position: relative;
  display: flex;
  width: 100%;
}

.s-service-centres__tabs:after {
  width: 100%;
  min-height: 100%;
  border-bottom: 1px solid #d91745;
  content: "";
}

.s-service-centres__tab {
  padding: 12px 0;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.2;
  color: #4e5056;
  white-space: nowrap;
  border-bottom: 1px solid #d91745;
  box-sizing: border-box;
}

.s-service-centres__tab-title {
  padding: 0 1.25rem;
  text-align: center;
  transition: all 0.8s ease-in-out;
}

.s-service-centres__tab-title span {
  display: none;
}

.s-service-centres__tab:last-child {
  border-right: none;
}

.s-service-centres__tab:hover {
  color: #ceced0;
}

.s-service-centres__tab.is-active {
  padding-bottom: 1px;
  color: #ceced0;
  border: 0.125rem solid #d91745;
  border-bottom: none;
  box-sizing: border-box;
}

.s-service-centres__tab.is-active .s-rulers__tab-title {
  display: flex;
  justify-content: center;
  border: none;
}

.s-service-centres__tab.is-active .s-rulers__tab-title span {
  display: inline-block;
  margin-right: 5px;
}

.s-service-centres__tab-content {
  display: none;
  margin-top: 0.75rem;
}

.s-service-centres__tab-content.is-active {
  display: block;
}

.s-service-centres__map {
  width: 100%;
  height: 40.625rem;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.s-service-centres__list {
  width: 100%;
  height: 100%;
  height: 40.625rem;
  padding: 1.875rem;
  background-image: url(../img/support/sc-list-bg.jpg);
  background-size: cover;
}

.s-service-centres__list-content {
  display: flex;
  height: -webkit-fill-available;
  gap: 1.5625rem;
  flex-direction: column;
  overflow-y: scroll;
}

.service-centre__item {
  width: 100%;
  border-top: 0.125rem solid #000203;
}

.service-centre__item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5625rem;
}

.service-centre__item-city {
  display: flex;
  align-items: center;
  height: 2.375rem;
  margin-bottom: 0.3125rem;
  font-size: 1.0625rem;
  font-weight: 300;
  line-height: 115%;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 2, 3, 0.3);
  letter-spacing: -0.03em;
}

.service-centre__item-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.625rem;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 115%;
  gap: 0.9375rem;
  letter-spacing: -0.03em;
}

.service-centre__item-name {
  color: #ffffff;
}

.service-centre__item-work {
  color: #9a9ea9;
}

.service-centre__item-address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8125rem;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 115%;
  color: #ffffff;
  letter-spacing: -0.03em;
}

.service-centre__item-info {
  display: flex;
  align-items: center;
  margin-bottom: 1.5625rem;
  font-size: 0.625rem;
  line-height: 115%;
  color: #c6c7d0;
  gap: 1rem;
}

.service-centre__item-route {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 115%;
  color: #d50032;
}

.ymaps-2-1-79-balloon__content {
  margin-right: 0 !important;
  padding: 0 !important;
}

.ymaps-2-1-79-balloon__content ymaps {
  overflow: hidden !important;
  height: 100% !important;
}

.ymaps-2-1-79-balloon__tail {
  display: none !important;
}

.ymaps-2-1-79-balloon__close {
  position: absolute !important;
  top: 1.0625rem;
  right: 1.125rem;
}

.ymaps-2-1-79-balloon__close-button {
  width: 1.25rem !important;
  height: 1.25rem !important;
  opacity: 1 !important;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L21 21' stroke='%23656669' stroke-linecap='round'/%3E%3Cpath d='M21 1C21 1 17.1215 4.87848 14.6364 7.36364C9.31103 12.689 0.999999 21 0.999999 21' stroke='%23656669' stroke-linecap='round'/%3E%3C/svg%3E%0A") !important;
  background-repeat: no-repeat;
}

.map-ballon {
  width: 21.9375rem;
}

.map-ballon__city {
  display: flex;
  align-items: center;
  height: 3.4375rem;
  padding: 0 1.875rem;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 115%;
  text-transform: uppercase;
  color: #c6c7d0;
  background: rgba(0, 2, 3, 0.8);
  letter-spacing: -0.03em;
}

.map-ballon__info {
  width: 100%;
  height: 100%;
  padding: 1.0625rem 1.3125rem 1.0625rem 1.625rem;
  background-image: url("../img/support/bg_ballon.png");
  background-size: cover;
  background-repeat: no-repeat;
  letter-spacing: -0.03em;
}

.map-ballon__name {
  width: 14.1875rem;
  margin-bottom: 0.625rem;
  padding-bottom: 0.5rem;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 115%;
  color: #ffffff;
  border-bottom: 0.0625rem solid #d50032;
}

.map-ballon__work {
  margin-bottom: 0.75rem;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 115%;
  color: #000203;
}

.map-ballon__address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 115%;
  color: #ffffff;
}

.map-ballon__phone {
  margin-bottom: 0.75rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 115%;
  color: #c6c7d0;
}

.map-ballon__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 115%;
  color: #c6c7d0;
}

.support-page {
  position: relative;
}

.support-page .main {
  position: relative;
}

.support-page .main:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(".././img/s-search/searching-result-bg.png");
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.s-banner {
  overflow: hidden;
}

.s-banner__title {
  max-width: 48.4375rem;
  margin-bottom: 5.5625rem;
  color: #9a9ea9;
  -webkit-text-fill-color: #9a9ea9;
}

@media (min-width: 768px) {
  .s-top-menu {
    margin: 2.1875rem 0;
    padding: 1.1875rem 0;
  }

  .s-top-menu__item {
    height: 8.5rem;
  }

  .s-top-menu__item-info {
    bottom: 0.875rem;
    left: 0.5rem;
  }

  .s-top-menu__item-title {
    font-size: 0.9375rem;
  }

  .s-top-menu__slide {
    width: 12.0625rem;
  }

  .s-requested-info {
    padding: 3.125rem 0;
  }

  .s-requested-info__title {
    font-size: 2.1875rem;
    line-height: 2.5625rem;
  }

  .s-requested-info__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 4.6875rem 1.875rem;
  }

  .s-requested-info__item-title {
    margin-bottom: 0.625rem;
  }

  .s-requested-info__item-bottom {
    padding-top: 0.625rem;
  }

  .s-service-centres__info {
    margin-bottom: 2.75rem;
    gap: 2.5rem;
  }

  .s-service-centres__text {
    display: flex;
    align-items: flex-start;
    font-size: 0.9375rem;
    line-height: 1.1875rem;
  }

  .s-service-centres__text p {
    width: 50%;
  }

  .s-service-centres__tab {
    min-width: 12.0625rem;
    font-size: 0.9375rem;
  }

  .s-service-centres__tab-title span {
    display: inline-block;
  }

  .s-service-centres__tab.is-active {
    width: auto;
  }

  .s-service-centres__tab-content {
    margin-top: 2.1875rem;
  }

  .s-service-centres__map {
    height: 20rem;
  }

  .s-service-centres__list {
    height: 20rem;
    padding: 2.1875rem 3.4375rem;
  }

  .s-service-centres__list-content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.875rem;
  }

  .service-centre__item {
    width: 20.9375rem;
  }

  .service-centre__item-list {
    gap: 1.875rem;
  }

  .service-centre__item-city {
    height: 2.625rem;
    margin-bottom: 0.9375rem;
    font-size: 1.1875rem;
    text-align: left;
  }

  .service-centre__item-top {
    align-items: flex-start;
    margin-bottom: 1.25rem;
    flex-direction: column;
    gap: 0.375rem;
  }

  .service-centre__item-address {
    font-size: 1.1875rem;
  }

  .service-centre__item-info {
    align-items: flex-start;
    font-size: 0.9375rem;
    flex-direction: column;
    gap: 0.75rem;
  }

  .map-ballon {
    width: 22.0625rem;
  }

  .s-banner__title {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .s-top-menu {
    margin: 1.875rem 0;
    padding: 1.375rem 0;
  }

  .s-top-menu__item {
    height: 10.0625rem;
  }

  .s-top-menu__item-info {
    bottom: 1.0625rem;
    left: 0.625rem;
  }

  .s-top-menu__item-title {
    font-size: 1.1875rem;
  }

  .s-top-menu__slide {
    width: 14.25rem;
  }

  .s-requested-info {
    padding: 3.75rem 0;
  }

  .s-requested-info__title {
    margin-bottom: 3.125rem;
  }

  .s-requested-info__items {
    gap: 3.125rem 1.875rem;
  }

  .s-requested-info__item-title {
    margin-bottom: 1.875rem;
    font-size: 1.4375rem;
    line-height: 1.625rem;
  }

  .s-requested-info__item-text {
    font-size: 1.0625rem;
    line-height: 1.25rem;
  }

  .s-service-centres__info {
    margin-bottom: 3rem;
    gap: 2.1875rem;
  }

  .s-service-centres__title {
    font-size: 2.8125rem;
    line-height: 2.8125rem;
  }

  .s-service-centres__tab {
    min-width: 14.25rem;
    font-size: 1.1875rem;
  }

  .s-service-centres__map {
    height: 25rem;
  }

  .s-service-centres__list {
    height: 21.25rem;
    padding: 3.125rem 4.375rem;
  }

  .s-service-centres__list-content {
    gap: 2.8125rem;
  }

  .service-centre__item {
    width: 25rem;
  }

  .service-centre__item-list {
    gap: 2.8125rem;
  }

  .service-centre__item-city {
    margin-bottom: 1.25rem;
  }

  .service-centre__item-top {
    margin-bottom: 1.6875rem;
    font-size: 0.9375rem;
    gap: 0.625rem;
  }

  .service-centre__item-name {
    max-width: 70%;
    min-height: 2.5rem;
    font-size: 1.0625rem;
  }

  .service-centre__item-work {
    font-size: 1.3125rem;
  }

  .service-centre__item-address {
    margin-bottom: 1.375rem;
    font-size: 1.3125rem;
  }

  .service-centre__item-info {
    font-size: 1.125rem;
    gap: 0.625rem;
  }

  .map-ballon {
    width: 25.3125rem;
  }

  .map-ballon__city {
    font-size: 1.125rem;
  }

  .map-ballon__name {
    width: 18.75rem;
    margin-bottom: 0.9375rem;
    font-size: 0.9375rem;
  }

  .map-ballon__work {
    margin-bottom: 1.25rem;
    font-size: 0.9375rem;
  }

  .map-ballon__address {
    font-size: 1.1875rem;
  }

  .map-ballon__phone {
    font-size: 0.9375rem;
  }

  .map-ballon__bottom {
    font-size: 0.9375rem;
  }

  .s-banner__title {
    margin-bottom: 3.125rem;
  }
}

@media (min-width: 1600px) {
  .s-top-menu {
    margin: 2.5rem 0;
    padding: 1.625rem 0;
  }

  .s-top-menu__item {
    height: 11.6875rem;
  }

  .s-top-menu__item-info {
    bottom: 1.4375rem;
    left: 0.625rem;
  }

  .s-top-menu__slide {
    width: 16.5625rem;
  }

  .s-requested-info {
    padding: 4.6875rem 0;
  }

  .s-requested-info__title {
    margin-bottom: 4.375rem;
    font-size: 2.375rem;
    line-height: 2.8125rem;
  }

  .s-requested-info__items {
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
  }

  .s-requested-info__item {
    gap: 1.5625rem;
  }

  .s-requested-info__item-title {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .s-requested-info__item-text {
    font-size: 1.1875rem;
    line-height: 1.375rem;
  }

  .s-requested-info__item-link {
    font-size: 1rem;
    line-height: 1.1875rem;
  }

  .s-service-centres__info {
    margin-bottom: 1.5rem;
    flex-direction: row;
    gap: 7.5rem;
  }

  .s-service-centres__title {
    font-size: 4.375rem;
    line-height: 4.375rem;
  }

  .s-service-centres__text {
    font-size: 1.1875rem;
    line-height: 1.5625rem;
    flex-direction: column;
  }

  .s-service-centres__text p {
    width: 100%;
  }

  .s-service-centres__text p:not(:last-child) {
    margin: 0 0 1.875rem;
  }

  .s-service-centres__tab {
    min-width: 16.5625rem;
    font-size: 1.5625rem;
  }

  .s-service-centres__map {
    height: 35rem;
  }

  .s-service-centres__list {
    height: 57.5rem;
    padding: 7.1875rem 5.9375rem;
  }

  .s-service-centres__list-content {
    gap: 2.1875rem;
  }

  .service-centre__item {
    width: 25.75rem;
  }

  .service-centre__item-list {
    gap: 2.1875rem;
  }

  .service-centre__item-top {
    font-size: 1.0625rem;
    gap: 1.875rem;
  }

  .s-banner__title {
    margin-bottom: 6.25rem;
  }
}

@media (min-width: 1920px) {
  .s-requested-info__title {
    margin-bottom: 5rem;
    font-size: 2.5rem;
    line-height: 2.9375rem;
  }

  .s-requested-info__items {
    gap: 11.125rem;
  }

  .s-requested-info__item-title {
    font-size: 1.875rem;
    line-height: 2.125rem;
  }

  .s-service-centres__title {
    font-size: 5rem;
    line-height: 5rem;
  }

  .s-service-centres__tab {
    font-size: 1.3125rem;
  }

  .s-service-centres__list {
    height: 62.1875rem;
    padding: 8.4375rem 9.375rem;
  }

  .s-service-centres__list-content {
    gap: 6.25rem;
  }

  .service-centre__item-list {
    gap: 6.25rem;
  }

  .s-banner__title {
    margin-bottom: 5.625rem;
  }
}

@media (max-width: 1699px) {
  .s-support-form__contacts-title {
    font-size: 38px;
  }

  .s-support-form__contacts-phone span,
  .s-support-form__contacts-email span {
    font-size: 38px;
  }

  .s-support-form .form__title {
    font-size: 38px;
  }

  .s-support-form .form__radios {
    margin-bottom: 110px;
  }

  .s-support-form .form__radio {
    margin-right: 60px;
  }

  .s-support-form .form__radio-text {
    font-size: 28px;
  }

  .s-support-form-drivers {
    padding: 177px 0 122px;
  }

  .s-support-contact {
    padding: 35px 0 170px;
  }

  .s-support-contact__title {
    max-width: 660px;
    font-size: 25px;
  }

  .s-support-contact__caption {
    right: -50%;
    font-size: 320px;
  }

  .s-support-contact__subtitle {
    min-width: 639px;
  }

  .s-support-contact__description {
    margin-left: 94px;
  }

  .s-support-contact-legal .s-support-contact__title {
    margin-bottom: 134px;
  }

  .s-reviews {
    padding-top: 168px;
    padding-bottom: 130px;
  }

  .s-reviews__caption {
    font-size: 300px;
  }

  .s-reviews__columns {
    margin: 0 -25px;
  }

  .s-reviews__column {
    width: calc(33.3333% - 5px);
    margin: 0 25px;
  }

  .s-reviews__column:last-child {
    width: calc(77.7777% - 50px);
    margin: 0 25px;
  }

  .s-reviews .form__inputs {
    margin: 0 -25px;
  }

  .s-reviews .form__input,
  .s-reviews .form__submit {
    width: calc(50% - 50px);
    margin: 0 25px;
    margin-bottom: 22px;
  }

  .s-reviews .form__input:nth-child(2),
  .s-reviews .form__submit:nth-child(2) {
    margin-bottom: 37px;
  }

  .s-reviews .form__checkbox {
    align-items: center;
    margin-top: 0;
    margin-bottom: 27px;
  }

  .s-reviews .form__checkbox-text {
    font-size: 12px;
  }

  .s-reviews .form__submit {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1499px) {
  .s-support-form__columns {
    margin: 0 -25px;
  }

  .s-support-form__column {
    margin: 0 25px;
  }

  .s-support-contact__descriptions {
    align-items: center;
    margin-bottom: 64px;
  }

  .s-support-contact__subtitle {
    font-size: 19px;
    min-width: 0;
  }

  .s-support-contact__description {
    font-size: 15px;
    margin-left: 76px;
  }
}

@media (max-width: 1199px) {
  .s-support-form__columns {
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  .s-support-form__column {
    width: calc(50% - 30px);
    margin: 0 15px;
    max-width: 100%;
  }

  .s-support-form__info {
    width: 100%;
    max-width: 100%;
    order: 9;
    margin: 0;
    margin-top: 98px;
  }

  .s-support-form__info .form__title {
    display: none;
  }

  .s-support-form__info .s-support-form__bottom-item {
    margin: 0;
  }

  .s-support-form__info {
    margin-top: 55px;
  }

  .s-support-form__contacts {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    margin: 0;
  }

  .s-support-form__contacts-left {
    width: calc(50% - 30px);
    margin: 0 15px;
  }

  .s-support-form__contacts-phone {
    margin-bottom: 0;
    margin-right: 56px;
  }

  .s-support-form__contacts-phone,
  .s-support-form__contacts-email {
    order: 1;
  }

  .s-support-form__contacts-phone span,
  .s-support-form__contacts-email span {
    font-size: 30px;
  }

  .s-support-form__contacts-links {
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 30px);
    margin: 0 15px;
  }

  .s-support-form__contacts-links .s-support-form__contacts-message {
    order: 0;
    font-size: 17px;
    margin-bottom: 16px;
  }

  .s-support-form__inputs {
    width: 100%;
  }

  .s-support-form__mobile {
    order: 2;
    width: 100%;
    margin-top: 64px;
  }

  .s-support-form__bottom {
    margin: 0 15px;
  }

  .s-support-form__bottom-item {
    max-width: fit-content;
    min-width: 0;
    margin: 0 15px;
  }

  .s-support-form__bottom-left {
    width: 100%;
  }

  .s-support-form__bottom-left .s-support-form__bottom-item {
    margin: 0 15px;
  }

  .s-support-form .form__title {
    min-height: 0;
    font-size: 30px;
    margin-bottom: 41px;
  }

  .s-support-form .form__input {
    margin-bottom: 38px;
  }

  .s-support-form .form__radios {
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .s-support-form .form__radio {
    margin-right: 0;
  }

  .s-support-form .form__radio-text {
    font-size: 25px;
  }

  .s-support-form__title {
    font-size: 40px;
    text-align: left;
    margin-bottom: 60px;
  }

  .s-support-form-drivers {
    padding: 140px 0 96px;
  }

  .s-support-contact {
    padding: 30px 0 110px;
  }

  .s-support-contact__title {
    max-width: 503px;
    font-size: 19px;
    margin-bottom: 70px;
  }

  .s-support-contact__caption {
    top: -100px;
    right: -40%;
    font-size: 170px;
  }

  .s-support-contact-legal .s-support-contact__title {
    margin-bottom: 21px;
  }

  .s-reviews {
    padding-top: 119px;
    padding-bottom: 85px;
  }

  .s-reviews__top {
    margin-bottom: 58px;
  }

  .s-reviews__caption {
    right: -40px;
    font-size: 200px;
  }

  .s-reviews .form__subtitle {
    font-size: 15px;
    margin-bottom: 11px;
  }

  .s-reviews .form__select {
    margin-bottom: 35px;
  }

  .s-reviews .form__raitings {
    margin-bottom: 48px;
  }

  .s-reviews .form__raitings-text {
    font-size: 17px;
  }

  .s-reviews__column {
    width: calc(50% - 50px);
  }

  .s-reviews__column:last-child {
    justify-content: flex-start;
    width: calc(50% - 50px);
  }

  .s-reviews .form__inputs {
    flex-direction: column;
    margin: 0;
  }

  .s-reviews .form__input,
  .s-reviews .form__submit {
    width: 100%;
    margin: 0;
    margin-bottom: 37px;
  }

  .s-reviews .form__input:nth-child(3),
  .s-reviews .form__submit:nth-child(3) {
    margin-bottom: 34px;
  }

  .s-reviews .form label {
    font-size: 17px;
  }
}

@media screen and (max-width: 1023px) {
  .s-service-centres .l-default:after {
    left: calc(-100% + 30px);
  }

  .s-service-centres .l-default:before {
    right: calc(-100% + 30px);
  }
}

@media (max-width: 991px) {
  .s-support-form__info {
    margin-top: 50px;
  }

  .s-support-form__contacts-title {
    width: 100%;
    font-size: 19px;
    margin-bottom: 7px;
  }

  .s-support-form__contacts-phone {
    margin-right: 37px;
  }

  .s-support-form__contacts-phone span,
  .s-support-form__contacts-email span {
    font-size: 25px;
  }

  .s-support-form__contacts-message {
    font-size: 15px;
  }

  .s-support-form__mobile {
    margin-top: 50px;
  }

  .s-support-form .form__title {
    font-size: 25px;
    margin-bottom: 45px;
  }

  .s-support-form .form__input {
    margin-bottom: 30px;
  }

  .s-support-form .form__radios {
    margin-bottom: 76px;
  }

  .s-support-form .form__radio-text {
    font-size: 21px;
  }

  .s-support-form__title {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .s-support-form-drivers {
    padding: 140px 0 96px;
  }

  .s-support-contact {
    padding: 20px 0 104px;
  }

  .s-support-contact__title {
    max-width: 403px;
    font-size: 15px;
    margin-bottom: 57px;
  }

  .s-support-contact__caption {
    right: -42%;
    font-size: 130px;
  }

  .s-support-contact__descriptions {
    margin-bottom: 60px;
  }

  .s-support-contact__subtitle {
    font-size: 17px;
  }

  .s-support-contact__description {
    font-size: 13px;
    margin-left: 30px;
  }

  .s-support-contact-legal .s-support-contact__title {
    margin-bottom: 38px;
  }

  .s-reviews {
    padding-top: 109px;
    padding-bottom: 90px;
  }

  .s-reviews__top {
    margin-bottom: 31px;
  }

  .s-reviews__caption {
    top: -60px;
    right: 0;
    font-size: 150px;
  }

  .s-reviews .form__title {
    font-size: 35px;
  }

  .s-reviews .form__subtitle {
    white-space: pre-wrap;
  }

  .s-reviews .form__select {
    margin-bottom: 43px;
  }

  .s-reviews .form__raitings {
    margin-bottom: 40px;
  }

  .s-reviews__columns {
    flex-direction: column;
    margin: 0;
  }

  .s-reviews__column {
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
  }

  .s-reviews__column:last-child {
    margin-bottom: 0;
  }

  .s-reviews__column:last-child {
    width: 100%;
    margin: 0;
  }

  .s-reviews .form__inputs {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -15px;
  }

  .s-reviews .form__input,
  .s-reviews .form__submit {
    width: calc(50% - 30px);
    margin: 0 15px;
    margin-bottom: 32px;
  }

  .s-reviews .form__input:nth-child(2),
  .s-reviews .form__submit:nth-child(2) {
    margin-bottom: 32px;
  }

  .s-reviews .form__input:nth-child(3),
  .s-reviews .form__submit:nth-child(3) {
    margin-bottom: 0;
  }

  .s-reviews .form__checkbox {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .s-service-centres .l-default:after {
    left: calc(-100% + 12px);
  }

  .s-service-centres .l-default:before {
    right: calc(-100% + 12px);
  }
}

@media (max-width: 767px) {
  .s-service-centres__tab-content .l-default {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .s-top-menu__item-img {
    min-height: 6.4375rem;
  }
}

@media (max-width: 600px) {
  .s-support-form__columns {
    flex-wrap: wrap;
    margin: 0;
  }

  .s-support-form__column {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

  .s-support-form__column:last-child {
    margin-bottom: 0;
  }

  .s-support-form__info {
    margin-top: 44px;
  }

  .s-support-form__contacts {
    flex-direction: column;
  }

  .s-support-form__contacts-left {
    width: 100%;
    margin: 0;
    margin-bottom: 12px;
  }

  .s-support-form__contacts-links {
    width: 100%;
    margin: 0;
  }

  .s-support-form__inputs {
    flex-direction: column;
  }

  .s-support-form__mobile {
    margin-top: 10px;
  }

  .s-support-form__bottom-left {
    flex-direction: column;
  }

  .s-support-form__bottom-left .s-support-form__bottom-item {
    margin: 0;
  }

  .s-support-form .form__title {
    font-size: 23px;
    margin-bottom: 22px;
  }

  .s-support-form .form__input {
    margin-bottom: 34px;
  }

  .s-support-form .form__textarea {
    min-height: 130px;
  }

  .s-support-form .form__checkbox {
    margin-bottom: 20px;
  }

  .s-support-form .form__checkbox-text {
    font-size: 10px;
  }

  .s-support-form .form__radios {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
  }

  .s-support-form .form__radio {
    margin-bottom: 37px;
  }

  .s-support-form__title {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .s-support-form-drivers {
    padding: 58px 0 60px;
  }

  .s-support-contact {
    padding: 47px 0 44px;
  }

  .s-support-contact__title {
    font-size: 13px;
    margin-bottom: 40px;
  }

  .s-support-contact__caption {
    right: unset;
    left: 0;
    top: -140px;
  }

  .s-support-contact__descriptions {
    flex-direction: column;
    margin-bottom: 37px;
  }

  .s-support-contact__subtitle {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .s-support-contact__description {
    font-size: 12px;
    margin-left: 0;
  }

  .s-support-contact-legal .s-support-contact__title {
    margin-bottom: 30px;
  }

  .s-reviews {
    padding-top: 113px;
    padding-bottom: 85px;
  }

  .s-reviews__top {
    margin-bottom: 35px;
  }

  .s-reviews__caption {
    top: -60px;
    right: 50px;
    font-size: 70px;
  }

  .s-reviews .form__title {
    font-size: 23px;
  }

  .s-reviews .form__subtitle {
    margin-bottom: 8px;
  }

  .s-reviews .form__select {
    margin-bottom: 25px;
  }

  .s-reviews .form__raitings {
    margin-bottom: 25px;
  }

  .s-reviews .form__inputs {
    margin: 0;
  }

  .s-reviews .form__input,
  .s-reviews .form__submit {
    width: 100%;
    margin: 0;
    margin-bottom: 22px;
  }

  .s-reviews .form__input:nth-child(2),
  .s-reviews .form__submit:nth-child(2) {
    margin-bottom: 22px;
  }

  .s-reviews .form__input:nth-child(3),
  .s-reviews .form__submit:nth-child(3) {
    margin-bottom: 25px;
  }

  .s-reviews .form__checkbox-text {
    font-size: 10px;
  }

  .s-reviews .form__checkbox-btn {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }
}
/*# sourceMappingURL=maps/support_page.css.map */
